@import "reset";
@import "variables";
@import "themes/normal";

.app {
  font-family: "Josefin Sans", sans-serif;
  background: #cc9da5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}