@import "reset";
@import "variables";
@import "themes/normal";

.app {
  font-family: "Josefin Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  word-wrap: break-word;
}