.CardDay {
  width: fit-content;
  display: flex;
  flex-direction: column;
  background: var(--color-gray-light);
  padding: 10px;
  border-radius: 12px;
}

.center {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  background: var(--color-gray-light);
}

.dayweek {
  font-family: Consolas;
  font-size: 24px;
}

.temperature {
  font-size: 40px;
  font-weight: bold;
}