.DayCard {
  padding: 10px;
  background: var(--color-gray-light);
  border-radius: 12px;
}

.dayweek {
  font-family: Consolas;
  font-size: 22px;
}

.temperature {
  font-size: 36px;
  font-weight: bold;
}
