.CardDay {
  background: var(--color-gray-light);
  padding: 10px 20px;
  border-radius: 24px;
}

.center {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  background: var(--color-gray-light);
}

.dayweek {
  font-family: Consolas;
  font-size: 24px;
}

.temperature {
  font-size: 36px;
  font-weight: bold;
}