.Paper {
	// width: fit-content;
	padding: 10px;
	border-radius: 12px;
	-webkit-box-shadow: 2px 8px 10px 5px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: 2px 8px 10px 5px rgba(0, 0, 0, 0.21);
	box-shadow: 2px 8px 10px 5px rgba(0, 0, 0, 0.21);
}
