.LastCities {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cities {
  display: flex;
  gap: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
  font-size: 20px;
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between;
}