.input {
  background: transparent;
  border: none;
  outline: none;
  // color: transparent;
  // text-shadow: 0 0 0 black;
  width: 100%;

  &:focus {
    outline: none;
    border-bottom: 1px solid blue;
  }
}

.form {
  width: fit-content;
  display: flex;
  padding: 5px 10px;
  border-radius: 16px;
  background: var(--color-gray-light);
  gap: 10px;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}